@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><fragment ident="hello" /></h1>
    <h3><fragment ident="welcome" /></h3>
    <p><fragment ident="changes" /></p>
</div>
